:root { /*Allow for custom colors ?*/
    --noColor: #0000;
    --body-background: #000;
    --element: #045b62;
    --element-accent: #0f565e;
    --element-darkend: #02393e;
    --main: #0d484e;
    --main-accent: #3d8086;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    height: 4px;
    width: 12px;
    border: 1px solid var(--element-accent);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: var(--element-accent);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: var(--element-darkend);
}