:root { /*Allow for custom colors ?*/
    --noColor: #0000;
    --body-background: #000;
    --element: #045b62;
    --element-accent: #0f565e;
    --element-darkend: #02393e;
    --main: #0d484e;
    --main-accent: #3d8086;
}