
.plyr, #plyr, .plyr audio, .plyr video, #player_code, .plyr--video, .plyr--full {
    height: 100vh !important;
    width: 100vw !important;
    z-index: 1;
}

div.wStream iframe {
    /* visibility: hidden !important; */ /*FOR DEBUGGING*/
    height: 100vh !important;
    width: 100vw !important;
    overflow: hidden !important;
    position: absolute !important;
    top: 40px !important;
    left: 0px !important;
    z-index: 2 !important;
    max-height: calc(100vh - 40px) !important;
}

div.wStream > iframe {
    max-height: calc(100vh - 40px) !important;
}

div.wStream div[style^="position:relative"] {
    z-index: 4 !important;
    position: fixed!important;
    left: auto!important;
    top: 10%!important;
}

#reportStream {
    display: none !important;
}

#wContainer tbody tr td.wMirror, #customButtons {
    opacity: 0 !important;
    z-index: 0 !important;
}

#topButtonMenu {
    opacity: 0;
    background-color: var(--noColor);
    position: fixed !important;
    z-index: 5 !important;
    top: 40px !important;
    pointer-events: auto !important;
    left: 0px !important;
    width: calc(100% - 24px) !important;
    max-width: calc(100% - 24px) !important;
    padding: 12px !important;
    height: calc(100vh - 40px) !important;
    overflow: visible !important;
    display: flex !important;
    justify-content: center !important;
    align-content: flex-start !important;
    gap: 6px !important;
    pointer-events: none !important;
    transition: opacity 0.6s ease-out;
    color: var(--textOnElem) !important;
    font-size: 1.2em !important;
}

#topButtonMenu:hover {
    opacity: 0.92;    
    transition: opacity 0.2s ease-in;
}

#topButtonMenu * {
    pointer-events: auto !important;
    order: 4;
}

#topButtonMenu a:not(.changeMirror) {
    display: inline;
    float: none;
    line-height: 40px;
    min-height: 40px;
    max-height: 40px;
    padding: 3px;
    vertical-align: middle !important;
    flex-grow: 1;
    text-align: center;
}

#topButtonMenu a[href^="/watch/"], #topButtonMenu a.reminder {
    flex-grow: 0;
}

#topButtonMenu a.reminder {
    order: 5;
}

#topButtonMenu a[href^="/watch/"] {
    order: 1;
}

#topButtonMenu a[href^="/info/"] {
    background: var(--element);
    border-radius: 6px;
    flex-grow: 0;
    order: 2;
}

#topButtonMenu a[href^="/info/"]:hover {
    background: var(--element-accent);
}

#topButtonMenu a.changeMirror {
    min-height: 35px !important;
    max-height: 35px !important;
}

#topButtonMenu a img {
    flex-grow: 0;
    min-width: 30px !important;
    max-width: 30px !important;
    min-height: 30px !important;
    max-height: 30px !important;
}

a.menu:not(.changeMirror) {
    font-size: 1.8em !important;
    font-weight: 800 !important;
    line-height: 34px !important;
}

.next  {
    order: 7 !important;
}
.textMiddle {
    flex-grow: 1;
    display: flex;
    justify-content: center !important;
    height: 40px !important;
}
.textMiddle * {
    line-height: 40px !important;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

span.wLinkerText {
    display: none !important;
}

/*SCROLLBAR*/
