/*USES DEFAULT*/
/* :root {
} */

body {
    background-color: var(--body-background);
    color: var(--textOnElem);
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

a {
    color: var(--colorLink);
    text-decoration: none;
}

a:hover {
    color: var(--colorLinkHover);
}

#wrapper {
    background: no-repeat scroll 50% 40px transparent;
}

#nav {
    border-bottom: 1px solid var(--element);
    background-color: var(--main);
}

#nav a {
    color: var(--textOnElem);
}

.topmenu ul {
    background-color: var(--main);
    background-image: url(https://proxer.me/templates/proxer14/images/black-trans.png);
    background-position: center top;
    background-repeat: repeat-x;
    border: 1px solid var(--element);
    border-top: 0;
}

li.topmenu ul li:hover {
    background-color: var(--main-accent) ;
    border-radius: 3px;
}

#loginNav.notLoggedIn {
    background-image: url(https://proxer.me/templates/proxer14/images/key.png);
}

#newsNav {
    background-image: url(https://proxer.me/templates/proxer14/images/notification_0.png);
}

#miscNav {
    background-image: url(https://proxer.me/templates/proxer14/images/notification_4.png);
}

#messageNav {
    background-image: url(https://proxer.me/templates/proxer14/images/notification_2.png);
}

#requestNav {
    background-image: url(https://proxer.me/templates/proxer14/images/notification_1.png);
}

#searchNav {
    background-image: url(https://proxer.me/templates/proxer14/images/notification_5.png);
}

#main {
    background-color: var(--main);
    border: 1px solid var(--element);
    border-radius: 6px;
}

.moduletable {
    background-color: var(--main);
    border: 1px solid var(--element);
    border-radius: 6px;
}

ul#simple-navi, ul#simple-navi-wiki {
    background-color: var(--element-accent);
    border-radius: 6px 6px 0 0;
    font-weight: 700;
}

ul#simple-navi li a, ul#simple-navi-wiki li a {
    border-bottom: 1px var(--element-accent) solid ;
    background-color: var(--main-accent);
    border-radius: 6px 6px 0 0;
}

ul#simple-navi li a:hover, ul#simple-navi li a:hover {
    background-color: var(--element-darkend);
}

ul#simple-navi li a:active, ul#simple-navi li a:active, ul#simple-navi li.active a, ul#simple-navi-wiki li.active a {
    border-bottom: 1px var(--main) solid ;
    background-color: var(--main);
}

.fastSearchEntry {
    background: var(--element);
}

.fastSearchEntry:hover,.fastSearchSelected {
    background: var(--element-accent);
}

.searchBox {
    background: var(--element-darkend);
}

#proxerSearch1 {
    color: var(--textOnElem);
    border: 1px var(--element-accent) solid;
    background-color: var(--element);
}

#submitSearch1 {
    cursor: pointer;
    color: var(--textOnElem);
    background-color: var(--element);
    border: 2px var(--element-darkend) solid;
    border-radius: 6px;
}

#notificationBubble,#loginBubble,.customBubble,.pointerBubble {
    background: repeat scroll 0 0 var(--main);
    border: 0px solid var(--textOnElem);
}

#notificationBubble:after,#loginBubble:after,.pointerBubble:after {
    border-color: var(--main) transparent;
}

a.menu {
    font-weight: bold;
    color: var(--textOnElem);
    background-color: var(--element-accent);
}

a.menu.active,a.menu:hover {
    background-color: var(--textOnElem);
    color: #000;
}

#box-table-a {
    text-align: left;
    border-collapse: collapse;
    border-radius: 6px;
}

#box-table-a tr {
    border: 0px solid;
    height: 30px;
}
/*TABLE HEADER*/
#box-table-a th {
    border-bottom: 1px solid var(--main-accent);
    font-size: 18px;
    color: var(--textOnElem);
    background: var(--main);
}
/*TABLE DATA*/
#box-table-a td {
    font-size: 16px;font-family: Tahoma, Verdana, Segoe, sans-serif;
    /* border-bottom: 1px solid var(--main-accent); */
    color: var(--textOnElem);
    background: var(--main);
    border-spacing: 0px ;
    -webkit-border-horizontal-spacing: 0px ;
    -webkit-border-vertical-spacing: 0px ;
}

#box-table-a tr:hover td {
    color: var(--colorLink);
}

#box-table-a tr:hover a {
    color: var(--colorLink);
}

#box-table-a tr:nth-child(2n) td {
    background-color: var(--element);
}

#messages .message {
    background: repeat scroll 0 0 var(--main);
    text-shadow: 1px 1px 0 #000;
    border: 1px solid var(--main-accent);
    box-shadow: 5px 5px 25px #e7e7e7;
}

#chat {
    border-color: var(--element);
    background-color: var(--main);
}
.details {
    border-spacing: 0px ;
    -webkit-border-horizontal-spacing: 0px ;
    -webkit-border-vertical-spacing: 0px ;
}
.details td {
    background-color: var(--element);
}

.scrollable.default-skin .scroll-bar .thumb {
    background-color: var(--element-accent);
}

.pInfo {
    border: 1px solid;
    background-color: var(--main);
    color: var(--textOnElem);
}

#chatapp_sidebar {
    border-left: 1px solid;
    border-color: var(--element);
    background-color: var(--main);
}

#chatapp_sidebarclose {
    border-top: 1px solid;
    border-color: var(--element);
}

#chatapp_toggle {
    border: 1px solid;
    border-color: var(--element);
    background-color: var(--main);
}

.chatapp_room {
    border: 1px solid;
    border-color: var(--element);
    background-color: var(--main);
}

.chatapp_roomtitle {
    border-bottom: 1px solid;
    border-color: var(--element);
}

/*calendar*/
table.calendarTable {
    border-color: var(--noColor) !important;
    border-spacing: 14px;
    width: 100%;
}

.headDate {
    border-color: var(--element) !important;
}

.calendarHeadNav table {
    background-color: var(--element) !important;
}

.waitTimeList.waitTime {
    float: right;
}

div[id^="entry"] {
    background-color: var(--element-darkend);
    border-top: 3px var(--element-accent) solid;
}

div[id^="entry"]:hover {
    background-color: var(--element-accent);
}

/*OTHER*/

/*CUSTOM ELEMENTS*/

#loadPre {
    transition: 0.15s;
    opacity: 0;
    pointer-events: none;
}