:root {
    --background-surface: black;
    --background-darkend: #0c0b0e;
    --background-shadow: #15111f;
    --background-element: #242426;
    --background-accent: #242426;
    --background-accent-transparent: #231f2750;
    --elemLayer: #1A1A1B;
    --elemLayer-dark: #242426;
    --elemLayer-transparent: #16151a70;
    --elemLayer-accent: #474748;
    --textOnElem: #D7DADC;
    --textOnElemGrey: #8a8294e;
    --secondary-main: #045b62;
    --secondary-accent: #3d8086;
    --secondary-elem: #0d484e;
    --secondary-dark: #02393e;
    --colorLink: #D7DADC;
    --noColor: #0000;
}

.container {
    width: 315px;
    font-size: 15pt;
    background-color: var(--background-element);
    color: white;
    padding: 12px;
}

body {
    margin: 2px;
    background-color: var(--background-surface);
    font-family: sans-serif;
}

span {
    font-weight: bolder;
}

.margin-top {
    margin-top: 15px;
}

a, a:hover, a:active, a:visited, a:focus, a:hover { color:white }

/* The switch - the box around the slider */
.switch {
    position: relative!important;
    display: inline-block!important;
    width: 60px!important;
    height: 34px!important;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0!important;
    width: 0!important;
    height: 0!important;
  }
  
  /* The slider */
  
  .toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: var(--textOnElem);
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    background-color: var(--background-brightAccent);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: var(--secondary-main);
  }

  .toggle input:checked+.slider::before {
    transform: translateX(calc(var(--width) - var(--height)));
  }

/* Adding text in the toggle button */
.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-family: sans-serif;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
    opacity: 1;
}

.textForSetting {
    display: inline-block;
    font-weight: 600;
    margin-left: 12px;
    margin-right: 3px;
}

.settingContainer {
    display: block;
}