:root {
  --body-background: #000;
  --element: #242426;
  --element-accent: #303030;
  --element-darkend: #222222;
  --main: #1A1A1B;
  --main-accent: #474748;
  /*secondary*/
  --secondary: #045b62;
  --secondary-accent: #3d8086;
  --secondary-element: #0d484e;
  --secondary-darkend: #02393e;
  /*other*/
  --textOnElem: #D7DADC;
  --colorLink: #b3d0e4;
  --colorLinkHover: #8dbbda;
  --noColor: #0000;
}

.container {
    width: 315px;
    font-size: 15pt;
    background-color: var(--element);
    color: white;
    padding: 12px;
}

body {
    margin: 2px;
    background-color: var(--body-background);
}

span {
    font-weight: bolder;
}

.margin-top {
    margin-top: 15px;
}

a, a:hover, a:active, a:visited, a:focus, a:hover { color:white }

/* The switch - the box around the slider */
.switch {
    position: relative!important;
    display: inline-block!important;
    width: 60px!important;
    height: 34px!important;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0!important;
    width: 0!important;
    height: 0!important;
  }
  
  /* The slider */
  
  .toggle {
    --width: 80px;
    --height: calc(var(--width) / 3);

    position: relative;
    display: inline-block;
    width: var(--width);
    height: var(--height);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: var(--height);
    cursor: pointer;
  }

  .toggle input {
    display: none;
  }

  .toggle .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--height);
    background-color: var(--textOnElem);
    transition: all 0.4s ease-in-out;
  }

  .toggle .slider::before {
    background-color: var(--secondary-darkend);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(var(--height));
    height: calc(var(--height));
    border-radius: calc(var(--height) / 2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    transition: all 0.4s ease-in-out;
  }

  .toggle input:checked+.slider {
    background-color: var(--secondary);
  }

  .toggle input:checked+.slider::before {
    background-color: var(--secondary-darkend);
    transform: translateX(calc(var(--width) - var(--height)));
  }

/* Adding text in the toggle button */
.toggle .labels {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 12px;
    transition: all 0.4s ease-in-out;
}

.toggle .labels::after {
    content: attr(data-off);
    position: absolute;
    right: 5px;
    color: #4d4d4d;
    opacity: 1;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle .labels::before {
    content: attr(data-on);
    position: absolute;
    left: 5px;
    color: #ffffff;
    opacity: 0;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.4);
    transition: all 0.4s ease-in-out;
}

.toggle input:checked~.labels::after {
    opacity: 0;
}

.toggle input:checked~.labels::before {
    opacity: 1;
}

.textForSetting {
    display: inline-block;
    font-weight: bolder;
    margin-right: 3px;
    color: #ffffff;
    font-size: 15pt;
}

.settingContainer {
    display: block;
}

.sliderDivElement {
    display:inline-block;
    text-align: center;
    vertical-align: middle;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    height: 4px;
    width: 11px;
    border: 1px solid var(--element-accent);
}

::-webkit-scrollbar-track {
  border-radius: 0px;
  background: var(--body-background);
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--element);
  border: 2px var(--body-background) solid;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--element-darkend);
}